<%= render 'shared/ban'%>
<%= render 'sidebar' %>
<div class="container mb-5">

  <%= simple_form_for @product do |f| %>
  <h2 class="p-5">Editer le produit</h2>

    <div class="form-inputs">
      <%= f.input :title,
                  autofocus: true,
                  input_html: { autocomplete: "Nom du produit" }%>
      <%= f.input :description,
                  input_html: { autocomplete: "Description" }%>
      <%= f.input :price,
                  input_html: { autocomplete: "Prix" }%>
      <%= f.input :image, as: :file %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Créer",:class => 'btn btn-primary' %>
    </div>

  <% end %>

</div>